# =========================================================================
# backend (/deviceCare)
# =========================================================================

/deviceCare/HELP.md
/deviceCare/target/
/deviceCare/.mvn/wrapper/maven-wrapper.jar
!**/deviceCare/src/main/**/target/
!**/deviceCare/src/test/**/target/

### STS ###
/deviceCare/.apt_generated
/deviceCare/.classpath
/deviceCare/.factorypath
/deviceCare/.project
/deviceCare/.settings
/deviceCare/.springBeans
/deviceCare/.sts4-cache

### IntelliJ IDEA ###
/deviceCare/.idea
/deviceCare/*.iws
/deviceCare/*.iml
/deviceCare/*.ipr

### NetBeans ###
/deviceCare/nbproject/private/
/deviceCare/nbbuild/
/deviceCare/dist/
/deviceCare/nbdist/
/deviceCare/.nb-gradle/
/deviceCare/build/
!**/deviceCare/src/main/**/build/
!**/deviceCare/src/test/**/build/

### VS Code ###
/deviceCare/.vscode/


# =========================================================================
# frontend (/deviceCareFrontEnd)
# =========================================================================

# Logs
/deviceCareFrontEnd/logs
/deviceCareFrontEnd/*.log
/deviceCareFrontEnd/npm-debug.log*
/deviceCareFrontEnd/yarn-debug.log*
/deviceCareFrontEnd/yarn-error.log*
/deviceCareFrontEnd/pnpm-debug.log*
/deviceCareFrontEnd/lerna-debug.log*

/deviceCareFrontEnd/node_modules
/deviceCareFrontEnd/dist
/deviceCareFrontEnd/dist-ssr
/deviceCareFrontEnd/*.local

# Editor directories and files
/deviceCareFrontEnd/.vscode/*
!/deviceCareFrontEnd/.vscode/extensions.json
/deviceCareFrontEnd/.idea
/deviceCareFrontEnd/.DS_Store
/deviceCareFrontEnd/*.suo
/deviceCareFrontEnd/*.ntvs*
/deviceCareFrontEnd/*.njsproj
/deviceCareFrontEnd/*.sln
/deviceCareFrontEnd/*.sw?